[build]
builder = "dockerfile"
dockerfilePath = "services/setup/Dockerfile"

[deploy]
healthcheckPath = "/setup/healthz"
healthcheckTimeout = 300
restartPolicyType = "on_failure"

[variables]
PORT = "8080"
